<header class="topheader">
  <div class="cont">
    <a href="/" class="logo" id="logo">
      <img alt="Logo suratrans" src="/img/logo/logo.ico">
    </a>
    <input type="checkbox" id="menu-icon">
    <label for="menu-icon">Menu</label>
    <nav class="menu">
      <ul>
        <li><a href="/"><span>Inicio</span></a></li>

        <li><a href="#"><span>Inspección +</span></a>
          <ul>
            <li>
              <a href="/addInspect"><span>Registrar Vehiculo</span></a>
            </li>
            <li>
              <a href="/listInspect"><span>Tabla de inspección</span></a>
            </li>
          </ul>
        </li>
        <li><a href="/informes"><span>Informes</span></a></li>
        <li><a href="#"><span>Conductores +</span></a>
          <ul>
            <li>
              <a href="/addconductor"><span>Registrar conductor</span></a>
            </li>
            <li>
              <a href="/listconductores"><span>Tabla conductores</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>