<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSPECCION</title>
    <link rel="icon" href="/img/logo/logo.ico">
    {{!-- Iconos CDN --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    {{!-- Fonst CDN --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto+Mono&display=swap"
        rel="stylesheet">

    <!--Datatables CDN-->
    {{#if (or listInspect listConductors listInformes)}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">


    <link rel="stylesheet" href="/css/lists.css">
    {{/if}}

    <!--estilos-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">

    {{#if index}}
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/wave.css">
    {{/if}}

    {{#if (or addInspect edit addconductor )}}
    <link rel="stylesheet" href="/css/inspect.css">
    <script defer src="/scripts/inspect.js"></script>
    {{/if}}


    {{#if inspectVehicle}}
    <link rel="stylesheet" href="/css/accordion.css">
    <link rel="stylesheet" href="/css/inspectVehicle.css">
    <script defer src="/scripts/accordion.js"></script>
    {{/if}}


    {{!-- Scripts --}}
    {{!--
    <script defer src="/scripts/navbar.js"></script> --}}
    {{!-- Toastr --}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>

</head>

<body>
    {{>navigation}}
    {{{ toastr }}}
    {{{body}}}

    {{!-- Scripts Datatables--}}
    {{#if (or listInspect listConductors listInformes)}}
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>

    <script>
        new DataTable('#example', {
            responsive: true,
            language: {
                "autoFill": {
                    "cancel": "Cancelar",
                    "fill": "Llenar",
                    "fillHorizontal": "Llenar celdas horizontalmente",
                    "fillVertical": "Llenar celdas verticalemente",
                    "info": "Información"
                },
                "buttons": {
                    "copy": "Copiar",
                    "copySuccess": {
                        "_": "Copiado con exito",
                        "1": "Fila copiada con exito"
                    },
                    "copyTitle": "Tabla Copiada",
                    "createState": "Crear estado",
                    "pageLength": {
                        "_": "ver %d filas",
                        "-1": "Ver todas las Filas",
                        "1": "Ver una fila"
                    },
                    "renameState": "Renombrar",
                    "updateState": "Actualizar",
                    "csv": "CSV",
                    "excel": "Excel",
                    "pdf": "PDF",
                    "collection": "Colección",
                    "colvis": "Visibilidad Columna",
                    "colvisRestore": "Restaurar Visibilidad",
                    "copyKeys": "Presione Inicio + C para copiar la información de la tabla.  Para Cancelar hacer click en este mensaje para o ESC",
                    "print": "Imprimir",
                    "removeAllStates": "Eliminar todos los estados",
                    "removeState": "Eliminar",
                    "savedStates": "Estados Guardados",
                    "stateRestore": "Estado %d"
                },
                "datetime": {
                    "months": {
                        "0": "Enero",
                        "1": "Febrero",
                        "10": "Noviembre",
                        "11": "Diciembre",
                        "2": "Marzo",
                        "3": "Abril",
                        "4": "Mayo",
                        "5": "Junio",
                        "6": "Julio",
                        "7": "Agosto",
                        "8": "Septiembre",
                        "9": "Octubre"
                    },
                    "weekdays": {
                        "0": "Dom",
                        "1": "Lun",
                        "2": "Mar",
                        "4": "Jue",
                        "5": "Vie",
                        "3": "Mié",
                        "6": "Sáb"
                    },
                    "amPm": [
                        "am",
                        "pm"
                    ],
                    "previous": "Anterior",
                    "next": "Siguiente",
                    "hours": "Hora",
                    "minutes": "Minuto",
                    "seconds": "Segundo",
                    "unknown": "Desconocido"
                },
                "editor": {
                    "close": "Cerrar",
                    "create": {
                        "button": "Nuevo",
                        "submit": "Crear",
                        "title": "Crear nueva entrada"
                    },
                    "edit": {
                        "button": "Editar",
                        "submit": "Actualizar",
                        "title": "Editar Registro"
                    },
                    "remove": {
                        "button": "Borrar",
                        "submit": "Borrar",
                        "title": "Borrar",
                        "confirm": {
                            "_": "Esta seguro de eliminar %d registros",
                            "1": "Esta seguro de eliminar 1 registro"
                        }
                    },
                    "multi": {
                        "info": "Los elementos seleccionados contienen diferentes valores para esta entrada. Para editar y configurar todos los elementos de esta entrada en el mismo valor, haga clic o toque aquí, de lo contrario, conservar sus valores individuales.",
                        "noMulti": "Múltiples valores",
                        "title": "Valores multiples",
                        "restore": "Deshacer cambios"
                    },
                    "error": {
                        "system": "Ha ocurrido un error del sistema ( Mas Información)"
                    }
                },
                "emptyTable": "Tabla Vacia",
                "infoEmpty": "Sin informacion",
                "lengthMenu": "Mostarndo _MENU_ registros",
                "loadingRecords": "Cargando...",
                "searchBuilder": {
                    "button": {
                        "_": "Creador de búsquedas (%d)",
                        "0": "Creador de búsquedas"
                    },
                    "clearAll": "Quitar filtro",
                    "data": "Datos",
                    "logicAnd": "Y",
                    "logicOr": "O",
                    "value": "Valor",
                    "add": "Agragar condición",
                    "condition": "Condición",
                    "conditions": {
                        "date": {
                            "after": "Después",
                            "before": "Antes",
                            "between": "Entre",
                            "empty": "Vacío",
                            "equals": "Igual",
                            "not": "No",
                            "notBetween": "No Entre",
                            "notEmpty": "No Vacío"
                        },
                        "number": {
                            "between": "Entre",
                            "empty": "Vacío",
                            "equals": "Igual",
                            "gt": "Mayor",
                            "gte": "Mayor o Igual",
                            "lt": "Menor",
                            "lte": "Menor o Igual",
                            "not": "No",
                            "notBetween": "No Entre",
                            "notEmpty": "No vacío"
                        },
                        "string": {
                            "contains": "Contine",
                            "empty": "Vacío",
                            "endsWith": "Termina en",
                            "equals": "Iguales",
                            "not": "No",
                            "notEmpty": "No Vacío",
                            "startsWith": "Empieza en",
                            "notContains": "No Contiene",
                            "notStartsWith": "No empieza en",
                            "notEndsWith": "No finaliza en"
                        },
                        "array": {
                            "equals": "Iguales",
                            "empty": "Vacío",
                            "contains": "Contiene",
                            "not": "No",
                            "notEmpty": "No Vacío",
                            "without": "Con"
                        }
                    },
                    "deleteTitle": "Eliminar regla",
                    "leftTitle": "Izquierda",
                    "rightTitle": "Derecha",
                    "title": {
                        "0": "Generador de Consultas",
                        "_": "Generador de Consultas (%d)"
                    }
                },
                "searchPanes": {
                    "clearMessage": "Borrar Filtro",
                    "collapseMessage": "desplegar todo",
                    "loadMessage": "Cargando informacion",
                    "showMessage": "Mostrar todos",
                    "title": "Filtros Activos - %d",
                    "collapse": {
                        "0": "Paneles de Búsqueda",
                        "_": "Paneles de Búsqueda (%d)"
                    },
                    "count": "Cuenta",
                    "countFiltered": "Cuenta Filtro",
                    "emptyPanes": "No hay información"
                },
                "searchPlaceholder": "Busqueda en tabla",
                "select": {
                    "cells": {
                        "_": "%d celdas seleccionadas",
                        "1": "1 celda seleccionada"
                    },
                    "columns": {
                        "_": "%d columnas seleccionadas",
                        "1": "1 columna seleccionada"
                    },
                    "rows": {
                        "1": "Fila seleccionada",
                        "_": "Filas Seleccionadas"
                    }
                },
                "aria": {
                    "sortAscending": "Activar para ordenar ascendente",
                    "sortDescending": "Activar para ordenar descendente"
                },
                "decimal": ".",
                "infoFiltered": "filtrado de _MAX_ registros totales",
                "infoThousands": ",",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "processing": "Procesando...",
                "search": "Buscar:",
                "thousands": ",",
                "zeroRecords": "No se encontro registro",
                "stateRestore": {
                    "creationModal": {
                        "button": "Crear",
                        "columns": {
                            "search": "Búsqueda columnas",
                            "visible": "Visibilidad de columa"
                        },
                        "name": "Nombre:",
                        "order": "Ordenar",
                        "paging": "Paginado",
                        "scroller": "Posición desplazamiento",
                        "search": "Buscar",
                        "searchBuilder": "Generador de Consultas",
                        "select": "Seleccionar",
                        "title": "Crear Nuevo Estado",
                        "toggleLabel": "Incluir:"
                    },
                    "duplicateError": "Ya existe un estado con este nombre",
                    "emptyError": "El nombre no puede estar vacío",
                    "emptyStates": "Estado sin Guardar",
                    "removeConfirm": "Esta seguro de eliminar el estado %d?",
                    "removeError": "Error al eliminar el estado",
                    "removeJoiner": "y",
                    "removeSubmit": "Eliminar",
                    "removeTitle": "Eliminar Estado",
                    "renameButton": "Eliminar",
                    "renameLabel": "Nuevo nombre para %s",
                    "renameTitle": "Renombrar Estado"
                },
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoPostFix": ""
            }
        });
    </script>
    {{/if}}

    {{#if (or addInspect edit addconductor)}}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>

    {{/if}}
</body>

</html>